# Node.js
node_modules
.pnpm
.pnpm-store
dist
build
.cache
tmp
*.log

# Dépendances et verrous de build
*.tsbuildinfo

# Env locaux
.env
.env.*

# IDE et fichiers système
.vscode
.idea
.DS_Store
Thumbs.db

# Docker lui-même
Dockerfile
.dockerignore

# Tests
coverage
*.test.*
__tests__/
__mocks__/

# Fichiers de debug ou temporaires
*.swp
*.tmp
*.bak