TZ=UTC
PORT=3333
HOST=localhost
LOG_LEVEL=info
APP_KEY=
NODE_ENV=development

DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=s_server
DB_PASSWORD=s_server_w
DB_DATABASE=s_server_db

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

FILE_STORAGE_PATH=./fs
FILE_STORAGE_URL=/fs

SITE_URL=
NEW_INSTANCE_RUNING=3

S_API_DIR=/s_api
S_API_VOLUME_SOURCE=/volumes/api
S_API_VOLUME_TARGET=/app
SERVER_USER=